@use 'variables' as *;
@use "styles/button" as *;

:host {
  --header-gap: clamp(27px, 3vw, 40px);
  --search-add-gap: 16px;
}

button:not(.menu) {
  position: relative;
  @extend %btn-icon;
}

.header {
  background: $primary;
  box-shadow: 0 1px 2px rgba(93, 95, 97, 0.2), 0 2px 4px rgba(93, 95, 97, 0.2);
}

.menu {
  display: none;
  width: 25px;
  height: 24px;
  padding: 8px;
}

.logo a {
  outline: none;

  &:focus-visible img {
    border-radius: 4px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;
  height: 56px;
  margin: 0 auto;
  padding: 0 12px 0 16px;
  gap: var(--header-gap);

  .actions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: var(--header-gap);
  }
}

.icon.add {
  margin-left: calc(var(--search-add-gap) - var(--header-gap));
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 12px;

  .notification-badge {
    position: absolute;
    left: 19px;
    top: 0;
    width: 21px;
    height: 16px;
    padding: 1px 4px;

    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.001em;
    color: $text-secondary;

    background: $error;
    border-radius: 100px;
  }

  .avatar {
    background-size: 32px 32px;
    background-image: url('assets/avatar.png');
    border-radius: 50%;
  }
}

@media (max-width: 1200px) {
  :host {
    --header-gap: 20px;
  }

  .icon.add {
    margin-left: calc(var(--search-add-gap) - var(--header-gap) - 8px);
  }
}

@media (max-width: 1000px) {
  :host {
    --header-gap: 16px;
  }
}

@media (max-width: 768px) {
  :host {
    --header-gap: 4px;
  }

  .container {
    gap: 0;
    padding-right: 8px;
  }

  .icon.menu {
    display: block;
    margin-right: 16px;
  }

  .actions {
    justify-content: flex-end;
  }

  .icon.add {
    margin: 0;
  }

  .right {
    margin: 0;
  }

  @media (max-width: 410px) {
    .container {
      justify-content: space-between;
    }

    .icon.menu {
      margin: 0;
    }

    .actions {
      flex: 0;
      gap: 0;
    }

    .logo {
      display: none;
    }
  }
}
