@use 'variables' as *;

label {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 15px;
  gap: 15px;
  cursor: pointer;
  color: $text-primary;
  transition: $transition-color;

  &:hover, &:has(input:focus-visible) {
    color: $primary;
  }
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

  &:checked + .box::after {
    opacity: 1;
  }
}

.box {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 2px solid $border-checkbox;
  border-radius: 2px;

  &::after {
    content: "";
    position: absolute;
    top: -9px;
    left: -9px;
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('assets/icons/checked.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: $transition-opacity;
  }
}

@media (max-width: 768px) {
  label {
    gap: 19px;
  }
}


