$background-secondary: #fff;
$background-gray: #f5f5f5;
$background-gray-secondary: #eff1f2;

$text-primary: #2a3033;
$text-secondary: #fff;
$text-gray: #7f878c;
$text-gray-secondary: #656e73;
$text-placeholder: #9aa1a6;
$text-label: #8c9499;

$primary: #1074cc;
$error: #cc1910;
$border: #e0e0e0;
$border-input: #e1e4e6;
$border-checkbox: #7f878c;

$transition-color: color 0.15s ease-in-out;
$transition-border: border-color 0.15s ease-in-out;
$transition-opacity: opacity 0.15s ease-in-out;
