@use 'variables' as *;
@use 'button' as *;

:host {
  position: relative;
}

.icon {
 @extend %btn-icon;
}

form {
  position: absolute;
  width: 704px;
  top: 0;
  right: 0;
}

.search-wrapper {
  position: absolute;
  top: -5px;
  right: -2px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;

  .icon.arrow-back {
    display: none;
    width: 24px;
    height: 24px;
  }

  &.expanded {
    transform: scaleX(1);
  }
}

.search-input {
  width: 100%;
  height: 48px;
  padding: 3px 16px 0 17px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.018em;
  outline: none;

  &::placeholder {
    color: $text-placeholder;
    padding-left: 3px;
  }
}

.search-filters {
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 46px;
  left: 1px;
  width: 100%;
  height: 228px;
  background: $background-secondary;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(93, 95, 97, 0.14), 0 8px 16px rgba(93, 95, 97, 0.14);
  border-radius: 4px;
}

.sidebar {
  position: relative;
  width: 218px;
  padding: 20px 17px 30px;
  border-right: 1px solid $border;

  &::after {
    content: '';
    position: absolute;
    width: 166px;
    left: 17px;
    bottom: 0;
    height: 27px;
    pointer-events: none;
    background: linear-gradient(
        0deg,
        $background-secondary 27.03%,
        rgba(255, 255, 255, 0) 98.26%
    );
  }

  .history-label {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.001em;
    color: $text-gray;
  }

  .list {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10px;

    li {
      padding: 6px 0;
    }

    .history-btn {
      text-align: left;
      transition: $transition-color;

      &:hover, &:focus-visible {
        outline: none;
        color: $primary;
      }
    }
  }
}

.filters {
  max-width: 488px;
  display: flex;
  flex-direction: column;
  padding: 24px 21px 24px 24px;
}

.author-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  padding: 12px 12px 12px 16px;
  border: 1px solid $border-input;
  border-radius: 4px;
  background: $background-secondary;
  transition: $transition-border;

  label {
    width: 43px;
    position: absolute;
    top: 1px;
    left: 11px;
    transform: translateY(-50%);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.004em;
    text-align: center;

    color: $text-label;
    background: $background-secondary;
    pointer-events: none;
    transition: $transition-color;
  }

  input {
    flex: 1;
    width: 100%;
    height: 20px;
    padding-right: 30px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0025em;

    &::placeholder {
      color: $text-placeholder;
    }
  }

  &:has(input:focus-visible) {
    border-color: $primary;
  }

  &:has(input:focus-visible) label {
    color: $primary;
  }
}

.author-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  background: $background-gray-secondary;
  color: $text-gray-secondary;
  cursor: default;
}

.checkboxes-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &.top-row {
    margin-bottom: 20px;
  }
}

.filters-label {
  margin-bottom: 4px;
}

@media (max-width: 1200px) {
  form {
    width: 614px;
  }

  .filters {
    overflow-y: scroll;
  }
}

@media (max-width: 1000px) {
  form {
    width: 430px;
  }

  .search-filters {
    max-height: 330px;
    height: fit-content;
  }

  .sidebar {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;

    &::after {
      width: 121px;
      left: 10px;
    }
  }

  .checkboxes-row {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  form {
    pointer-events: none;

    &.active {
      position: fixed;
      width: 100vw;
      height: 100vh;
      inset: 0;
      padding: 4px 16px;
      background: $background-secondary;
      z-index: 1000;
      pointer-events: auto;
    }
  }

  .search-wrapper,
  .search-filters {
    position: static;
    pointer-events: auto;
  }

  .search-wrapper {
    margin-bottom: 28px;

    .icon.arrow-back {
      display: block;
    }

    input {
      padding: 13px 14px 12px 17px;
      background: $background-gray;
      border-radius: 24px;
    }
  }

  .search-filters {
    max-height: unset;
    overflow: visible;
    box-shadow: none;
    border: none;
    background: none;
  }

  .sidebar {
    display: none;
  }

  .filters {
    max-width: unset;
    width: 100%;
    overflow: visible;
    padding: 0;
  }

  .author-input {
    margin-bottom: 24px;
  }

  .checkboxes-row {
    flex-direction: column;
    padding-left: 4px;
    gap: 8px;

    &.top-row {
      margin-bottom: 24px;
    }

    &:not(.top-row) {
      gap: 12px;
    }
  }

  .filters-label {
    margin-bottom: 8px;
  }

}

