@use 'icons' as *;
@use 'variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button {
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: $text-primary;
}

html,
body {
  min-width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a, button {
 &:focus-visible, &:focus-visible img {
   outline: 2px solid $border;
 }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
